= form_tag signin_path, method: :post, class: "bg-white" do
  .mb-4
    %label.block.font-bold.mb-2{ for: "email" }
      EMAIL
    = text_field_tag "email", nil, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "mark@sheets.io"

  .mb-4
    %label.block.font-bold.mb-2{ for: "password" }
      PASSWORD
    = password_field_tag "password", nil, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "foobar123"

  .flex.justify-between
    %button{ class: "font-bold text-lg bg-black text-white py-3 px-4" }
      SIGN IN

    = link_to "Create an account", signup_path, class: "text-lg text-black underline py-3"

