.flex.justify-center.mt-8
  .w-full.max-w-xs
    .border-2.border-grey-darker.px-4.py-4
      .mb-4.text-center
        %p.text-2xl.font-bold Sheets.
        %div
          Manage and organize your things without the hassle

      = render "form"
