.mb-4
  %label.block.font-bold.mb-2{ for: "name" }
    NAME
  = f.text_field :name, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "Mark Chavez"

.mb-4
  %label.block.font-bold.mb-2{ for: "email" }
    EMAIL
  = f.email_field :email, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "mark@sheets.io"

.mb-4
  %label.block.font-bold.mb-2{ for: "password" }
    PASSWORD
  = f.password_field :password, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "foobar123"

.mb-4
  %label.block.font-bold.mb-2{ for: "password" }
    CONFIRM PASSWORD
  = f.password_field :password_confirmation, class: "appearance-none border border-grey-darker w-full py-3 px-3", placeholder: "foobar123"

