.flex.justify-center.mt-8
  .w-full.max-w-sm
    .mb-4.text-center
      %p.text-4xl.font-bold Sheets
      %div
        %p.text-lg Manage and organize your things with clarity in mind.

    .border-t-8.border-b-8.border-black.px-4.py-4
      .mb-4
        %p.underline.text-center.font-bold.text-lg CREATE AN ACCOUNT

      = render "form"
