%p.text-3xl.font-bold notes

.mt-2.border-t-4.border-b-4.border-black.py-2
  .flex.flex-wrap.justify-center{ class: "-mx-8" }
    - categories.each do |category|
      %div{ class: "shadow bg-black text-white w-1/3 mb-4 border-4 border-black h-32 m-2 px-2 py-2" }
        %p.text-xl.font-bold= category.name
