%header
  = render 'layouts/header'

.container.mx-auto.max-w-lg.mt-8
  #notes.mb-8
    = render 'dashboards/notes'

  #docs-and-files.mb-8
    = render 'dashboards/docs_and_files'

  #projects.mb-8
    = render 'dashboards/projects'